.main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textContainer {
    margin: 0;
    max-width: 40vw;
    margin-bottom: 4rem;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
}

.subtitle {
    margin: 0;
    line-height: 0.5;
    font-size: 1rem;
    text-align: center;
}

.btn {
    flex: 1;
    flex-grow: 0;
}
